<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
</body>
</html>
{% extends "base.html" %}
{% load static %}
{% block h1_header %}
Probando
{% endblock h1_header %}
{% block main %}
<ul>  
  {% for  num in numeros %}
     {% if num > 250 %}
     <li style= "color:red"> NEWELLS CAMPEON CARAJO {{num}} </li>
     {% else %}
     <li style= "color:black"> NEWELLS CAMPEON CENTRAL PUTO {{num}} </li>
     {% endif %}
  {% endfor %}   
</ul>

<img src={%static "assets/img/testimonials-1.jpg" %} alt="">

{% endblock main %} 